In [30]:
import pandas as pd
import sklearn

In [31]:
dataset = pd.read_csv('CompaniesDataset.csv')

In [32]:
print("Keys of dataset:\n", dataset.keys())

Keys of dataset:
 Index(['company_name', 'url', 'city', 'state', 'country', 'employees',
       'linkedin_url', 'founded', 'Industry', 'GrowjoRanking',
       'Previous Ranking', 'estimated_revenues', 'job_openings', 'keywords',
       'LeadInvestors', 'Accelerator', 'btype', 'valuation', 'total_funding',
       'product_url', 'indeed_url', 'growth_percentage', 'contact_info'],
      dtype='object')

In [33]:
# displays first 5 rows
dataset.head()

,company_name,url,city,state,country,employees,linkedin_url,founded,Industry,GrowjoRanking,...,keywords,LeadInvestors,Accelerator,btype,valuation,total_funding,product_url,indeed_url,growth_percentage,contact_info
0,OpenAI,openai.com,San Francisco,CA,United States,655,http://www.linkedin.com/company/openai,2015.0,AI,1,...,"Artificial Intelligence, Online Gaming, Non Pr...","Thrive, Founders Fund",NaN,NaN,2.900000e+10,$11B,https://www.growjo.com/company/OpenAI,https://www.indeed.com/jobs?q=company%3A(OpenAI),118%,For Contact Direct Phone Numbers and Emails se...
1,Alchemy,alchemy.com,San Francisco,CA,United States,201,http://www.linkedin.com/company/alchemyinc,NaN,Fintech,2,...,NaN,"Lightspeed, Silver Lake",NaN,NaN,1.020000e+10,$564M,https://www.growjo.com/company/Alchemy,https://www.indeed.com/jobs?q=company%3A(Alchemy),134%,For Contact Direct Phone Numbers and Emails se...
2,dbt Labs,getdbt.com,Philadelphia,PA,United States,511,http://www.linkedin.com/company/dbtlabs,2016.0,Analytics,3,...,NaN,Altimeter,NaN,NaN,4.200000e+09,$414.4M,https://www.growjo.com/company/dbt_Labs,https://www.indeed.com/jobs?q=company%3A(dbt L...,76%,For Contact Direct Phone Numbers and Emails se...
3,Wasabi Technologies,wasabi.com,Boston,MA,United States,355,http://www.linkedin.com/company/wasabitechnolo...,2017.0,Cloud,4,...,saas,L2 Point,NaN,NaN,1.100000e+09,$286.2M,https://www.growjo.com/company/Wasabi_Technolo...,https://www.indeed.com/jobs?q=company%3A(Wasab...,60%,For Contact Direct Phone Numbers and Emails se...
4,Whatnot,whatnot.com,Los Angeles,CA,United States,551,http://www.linkedin.com/company/whatnot-inc,2019.0,eCommerce,5,...,NaN,DST Global,NaN,NaN,3.700000e+09,$484.7M,https://www.growjo.com/company/Whatnot,https://www.indeed.com/jobs?q=company%3A(Whatnot),97%,For Contact Direct Phone Numbers and Emails se...

In [34]:
# displays last 5 rows
dataset.tail()

,company_name,url,city,state,country,employees,linkedin_url,founded,Industry,GrowjoRanking,...,keywords,LeadInvestors,Accelerator,btype,valuation,total_funding,product_url,indeed_url,growth_percentage,contact_info
995,Bond Vet,bondvet.com,New York,NY,United States,292,http://www.linkedin.com/company/bondvetclinic,NaN,Veterinary,996,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.growjo.com/company/Bond_Vet,https://www.indeed.com/jobs?q=company%3A(Bond ...,90%,For Contact Direct Phone Numbers and Emails se...
996,CompStak,compstak.com,New York,NY,United States,153,http://www.linkedin.com/company/compstak,2011.0,Analytics,997,...,saas,NaN,NaN,NaN,NaN,$80.9M,https://www.growjo.com/company/CompStak,https://www.indeed.com/jobs?q=company%3A(CompS...,56%,For Contact Direct Phone Numbers and Emails se...
997,Quantum Metric,quantummetric.com,Monument,CO,United States,528,http://www.linkedin.com/company/quantum-metric,2014.0,Analytics,998,...,saas,"Insight Partners, Bain Capital Ventures",NaN,NaN,1.000000e+09,$251M,https://www.growjo.com/company/Quantum_Metric,https://www.indeed.com/jobs?q=company%3A(Quant...,25%,For Contact Direct Phone Numbers and Emails se...
998,Fathom (YC W21),fathom.video,San Francisco,CA,USA,96,http://www.linkedin.com/company/fathom-video,2020.0,Tech Services,999,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.growjo.com/company/Fathom_(YC_W21),https://www.indeed.com/jobs?q=company%3A(Fatho...,231%,For Contact Direct Phone Numbers and Emails se...
999,Hone,honehq.com,San Francisco,CA,United States,179,http://www.linkedin.com/company/honehq,2018.0,EdTech,1000,...,saas,NaN,NaN,NaN,NaN,$22.4M,https://www.growjo.com/company/Hone,https://www.indeed.com/jobs?q=company%3A(Hone),60%,For Contact Direct Phone Numbers and Emails se...

In [35]:
# displays all columns and their datatypes
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   company_name        1000 non-null   object
 1   url                 999 non-null    object
 2   city                999 non-null    object
 3   state               812 non-null    object
 4   country             994 non-null    object
 5   employees           1000 non-null   int64
 6   linkedin_url        997 non-null    object
 7   founded             791 non-null    float64
 8   Industry            997 non-null    object
 9   GrowjoRanking       1000 non-null   int64
 10  Previous Ranking    1000 non-null   int64
 11  estimated_revenues  972 non-null    float64
 12  job_openings        938 non-null    float64
 13  keywords            368 non-null    object
 14  LeadInvestors       424 non-null    object
 15  Accelerator         12 non-null     object
 16  btype               78 non-null     object
 17  valuation           468 non-null    float64
 18  total_funding       677 non-null    object
 19  product_url         1000 non-null   object
 20  indeed_url          1000 non-null   object
 21  growth_percentage   1000 non-null   object
 22  contact_info        1000 non-null   object
dtypes: float64(4), int64(3), object(16)
memory usage: 179.8+ KB

In [36]:
# overview of the values each column contains
dataset.describe(include=object)

,company_name,url,city,state,country,linkedin_url,Industry,keywords,LeadInvestors,Accelerator,btype,total_funding,product_url,indeed_url,growth_percentage,contact_info
count,1000,999,999,812,994,997,997,368,424,12,78,677,1000,1000,1000,1000
unique,979,981,335,53,62,985,120,250,377,3,3,580,979,979,283,1
top,Palmetto,palmetto.com,San Francisco,CA,United States,http://www.linkedin.com/company/games24x7-priv...,Fintech,saas,Tiger Global,Y Combinator,B2B,$110M,https://www.growjo.com/company/Palmetto,https://www.indeed.com/jobs?q=company%3A(Palme...,17%,For Contact Direct Phone Numbers and Emails se...
freq,3,3,137,329,733,2,167,104,8,7,70,5,3,3,18,1000

In [37]:
print("company names:", dataset['company_name'])

company names: 0                   OpenAI
1                  Alchemy
2                 dbt Labs
3      Wasabi Technologies
4                  Whatnot
              ...
995               Bond Vet
996               CompStak
997         Quantum Metric
998        Fathom (YC W21)
999                   Hone
Name: company_name, Length: 1000, dtype: object

In [38]:
print("city names:", dataset['city'])

city names: 0      San Francisco
1      San Francisco
2       Philadelphia
3             Boston
4        Los Angeles
           ...
995         New York
996         New York
997         Monument
998    San Francisco
999    San Francisco
Name: city, Length: 1000, dtype: object

In [39]:
print("Shape of company:",dataset['company_name'].shape)

Shape of company: (1000,)

In [40]:
print("Shape of city:",dataset['city'].shape)

Shape of city: (1000,)

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset['company_name'], dataset['city'], random_state=0)

In [49]:
print("X_train shape: ",X_train.shape)
print("y_train shape: ",y_train.shape)

X_train shape:  (750,)
y_train shape:  (750,)

In [50]:
print("X_test shape: ",X_test.shape)
print("y_test shape: ",y_test.shape)

X_test shape:  (250,)
y_test shape:  (250,)

In [51]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [52]:
knn.fit(X_train,y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[175 437 134 146 166 524  92 409 421 416  70  96 213 432 145 315 258 125
 336 874 117 153 751 118 145 236 131 665 309 724 356 206  34  72 150 562
 758 479  74  57 257 375 272 114 506 135  96 514 287 131 111  64  78 898
  46 404 447  60 895 302 273 220 462 299 411  53 168 239 338 236 145 407
  87 437 995 786 501  63 149 376  73  90 644 232 179 206 114 459 226 993
 557 572 133 378 210 303 126 384 360 700 545 107 624 514  70 277 640  80
 547 577 257 197 252  66 526 497 111 483 595 174  99 258 117 240 338  56
 186  80 122 743 557 262 419 655 505  51 335 146 577 473 234 491  37 509
 196 373  84 310 139 461 155  98 757 158 134 303 251  50 279 260 791 611
 258 125  65 375  36 128 372  60 190 194  56 565  86 102 169 154  22  83
 829 118 152  88 287 382 484 793 146 601 649 307 331 183 156 106 421 416
 141 962  74  86  33 383 486 414 226 102 160 466 363 269 270 110  82 561
 171 363 841  89 614  68 206 165 886 203 694 316 651 515  95  62 184 266
  94 217 165 573 215 136  75 657 469 143 525  77  74 218 444  88 219 897
 267 793  89 305 267 101 315 714 521 246 160  72 203 241 150 170 232 317
 381 350  89 487 655 349 240 856 198  94  81  30 610  89 468  64 250 153
 119  56 171  29 216  79 871  88 200 449 282 583 908 355 127 765 849 183
 504 298 508  76 519 404 659 484 251 268  99 127 251 290 764 158 475 246
 248 742 401 565 708 251 621  79 211 105 100  87 107 310  99 286 282 879
 318 528 326 331 721 552 366  43 558 422 440 574 122 180  97 275 985 222
 484 375  85 256 593 273 107 384  64 722  30 158 385 699 266  78 365 614
  96 551 292 992 701 669  38  85 170 207 167 221 744  62 325 209 753 142
 183 401 284 628 181 387 286 483 341 236 112  88 118 740 311 567 160 175
 267  75 435 221 224  88  83 484 585  40 118 107 565 491 530 431 286 110
 565  33  87 293  92 217  83 722 111 151 139 430 149 276 294 225 630 890
 232 294 592 434 194 102 523 299  57 537 175 658 203 553 538 216 306 266
 653 187 150 422  40  39 649 599 125  69 550 326 157 192  36 168 423 129
  43 122 894 121 704  97 201 362 210 158 170 114 157 145 128 193 186 390
 160 118 162 511 258 136  69 363 223 270 163 373 421 411 412 692 717 130
 349 256 214 187 497  89  84 319 169 273 211 448 132 254 108 151 139 345
 773 158 906 505  47  88 812 497 678 119 491 486 126 133 249 411 901 691
 637 117 498 162 113 820 122  80 538 455  58 309 436 358 840 156 145 119
 251 142 831 266 611 163 710 151 619  95 156 223 533 509 477  88 431 148
 237 384 245 854 452 298 102 903 457 393 537 812 775 841  52 183 430 402
 639 353 295 789  94 539  68 228 217 651 149 689 284 619  79 210 243 227
 183  63 414 217 195 238 426 665 424 425  56 589 112 903 206 245  81 263
 169 242 209 103 221  42  41 385 342 216 689  26 150  62 152 627 317 240
 483 462 359 247 404 318  66 968 109 322  29 224 884  99 424 118 230 655
 469 270 284 436 325 101 114 259 665  85 291 234 176 121  72 140 592 882
 101 196 102 205 329  60 552 676 246  69 781 967 133  85 628 188 151 104
 528 146 224 302 534  44  98 168 396 341 174 428 877 957 391 345 411 278
 128 126  87 481 189 251 109 125  68  72 215 308].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.